.item {
  display: flex;
  padding: 15px;
  border: 1px solid #999;
  background-color: #fff;
  margin-bottom: 15px; }
  .item img {
    width: 35%; }
  .item .item-data {
    width: 65%;
    padding-left: 15px; }
    .item .item-data .item-label {
      font-size: 125%;
      margin-bottom: 15px;
      display: block; }
    .item .item-data .selling-price {
      font-weight: bold;
      color: #333;
      margin-right: 5px; }
    .item .item-data .original-price {
      color: #919191;
      text-decoration: line-through; }
    .item .item-data .offer-price {
      color: #14a115;
      font-weight: bold;
      float: right; }
    .item .item-data .counter {
      display: flex;
      margin-top: 15px; }
      .item .item-data .counter input {
        border: 1px solid #ccc;
        width: 30px;
        padding: 5px 10px;
        height: 30px;
        box-sizing: border-box; }
      .item .item-data .counter a {
        border-radius: 15px;
        height: 30px;
        width: 30px;
        background-color: #fff;
        border: 1px solid #ccc;
        text-decoration: none;
        display: block;
        margin: 0 5px;
        display: flex;
        font-size: 150%;
        align-items: center;
        justify-content: center; }
    .item .item-data .btn-remove {
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 15px;
      display: block;
      color: inherit;
      text-decoration: none; }

@media screen and (min-width: 768px) {
  .item {
    align-items: center; }
    .item .item-data {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end; }
      .item .item-data div {
        width: 40%;
        padding-right: 30px; }
      .item .item-data .counter,
      .item .item-data .btn-remove {
        margin-top: 0; }
      .item .item-data .item-label {
        width: 100%; }
      .item .item-data .offer-price {
        float: none;
        margin-left: 10px; } }

* {
  box-sizing: border-box; }

body {
  font-size: 12px;
  font-family: verdana;
  margin: 0;
  padding: 0;
  background-color: #e1e1e1; }

img {
  max-width: 100%; }

.page-header {
  height: 50px;
  top: 0;
  background-color: #4268ea;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1; }
  .page-header .logo {
    color: #f7ad22;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding: 13px;
    display: block;
    overflow: hidden;
    float: left; }
    .page-header .logo:before {
      content: "\f005"; }
  .page-header .btn-search {
    float: right;
    height: 50px;
    width: 50px;
    color: #fff;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    padding: 12px 2px;
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; }
    .page-header .btn-search:before {
      content: "\f002";
      margin: 0 80px 0 12px; }
  .page-header .btn-cart {
    float: right;
    height: 50px;
    width: 50px;
    color: #fff;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    padding: 12px 2px;
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; }
    .page-header .btn-cart:before {
      content: "\f07a";
      margin: 0 80px 0 12px; }
    .page-header .btn-cart span {
      background-color: #f00;
      position: absolute;
      font-family: verdana;
      padding: 3px 5px;
      font-size: 10px;
      line-height: 1;
      border-radius: 10px;
      top: 7px;
      right: 6px; }

.page-content {
  min-height: calc(100vh - 50px - 35px);
  margin: 50px 0 35px;
  padding: 15px; }

@media screen and (min-width: 768px) {
  .cart-list {
    width: 75%;
    padding-right: 15px;
    float: left;
    margin-bottom: 35px; } }

.cart-brief {
  border: 1px solid #999;
  background-color: #fff;
  margin-bottom: 15px; }
  .cart-brief h2 {
    font-size: 125%;
    margin: 0;
    color: #999;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    padding: 15px;
    display: flex; }
  .cart-brief .rates {
    padding: 15px;
    display: flex; }
  .cart-brief .footer {
    font-weight: bold;
    border-top: 1px solid #999;
    padding: 15px;
    display: flex; }
  .cart-brief span {
    width: 100%;
    text-align: right; }
    .cart-brief span:first-child {
      text-align: left; }

@media screen and (min-width: 768px) {
  .cart-brief {
    width: 25%;
    float: right; } }

.page-footer {
  bottom: 0;
  height: auto;
  padding: 15px;
  color: #fff;
  text-align: center;
  background-color: #4268ea;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1; }
